name: Build and test package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test-package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.17', '1.18' ]

    steps:
    - name: Checkout project
      uses: actions/checkout@v3.0.2

    - name: Setup Go
      uses: actions/setup-go@v3.2.0
      with:
        go-version: ${{ matrix.go }}

    - name: Install tools and dependencies
      run: |
        go version
        go install honnef.co/go/tools/cmd/staticcheck

    - name: Run tests
      run: go test -v ./...

    - name: Run build
      run: go build -v -a ./...

    - name: Run vet & staticcheck
      run: |
        go vet ./...
        staticcheck ./...
